.productContainer{
   background-color: #404040;
    width: 100%;  
    min-height: 100vh;
    background-attachment: fixed;
    
}
.load{
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}